<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<!--     
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
 -->
<mapper namespace="com.cloud.dao.dao.UserDao">

    <!-- 查询所有用户 -->
    <select id="getUser" resultType="user">
        SELECT * FROM user 
    </select>    
     <!-- 根据id查询所有用户 -->
    <select id="getUserById" parameterType="int" resultType="user">
        SELECT * FROM user WHERE ID=#{id}
    </select>
    <!--  -->
   <!--  <select id="addUser" parameterType="" parameterType="int" >
        INSERT INTO user (id,name,age,sex,idNo,address,edu,dept,telNo,lastModifyDate,lastModifyUser)
        values 
    </select>
    
    <select id="deleteUserById" parameterType="int">
        SELECT * FROM user 
    </select>
    
    <select id="deleteUserBatch" parameterType="int">
        SELECT * FROM user 
    </select>
     <select id="updateUser" parameterType="int" resultType="com.cloud.model.core.User">
        SELECT * FROM user 
    </select> -->
    
</mapper>